VITE_API_MODE=mock
VITE_API_BASE_URL=http://localhost:4010/api/v1
VITE_DASHBOARD_REMOTE_URL=http://127.0.0.1:5174/remoteEntry.js
VITE_PROJECTS_REMOTE_URL=http://127.0.0.1:5175/remoteEntry.js
VITE_MODELS_REMOTE_URL=http://127.0.0.1:5176/remoteEntry.js
VITE_EXPERIMENTS_REMOTE_URL=http://127.0.0.1:5177/remoteEntry.js
VITE_DATASETS_REMOTE_URL=http://127.0.0.1:5178/remoteEntry.js
VITE_DEPLOYMENTS_REMOTE_URL=http://127.0.0.1:5179/remoteEntry.js
VITE_MONITORING_REMOTE_URL=http://127.0.0.1:5180/remoteEntry.js
